[general]
accounts = Pobox, Umich, Merit
ui = ttyui
metadata = ~/.offlineimap
maxsyncaccounts = 3

# [mbnames]
# enabled = yes
# filename = ~/.mutt-mailboxes
# header = "mailboxes "
# peritem = "~/Mail/%(accountname)s/%(foldername)s"
# sep = " "
# footer = "\n"

[Account Pobox]
autorefresh = 5
localrepository = LocalPobox
remoterepository = RemotePobox

[Repository LocalPobox]
type = Maildir
localfolders = ~/Mail/Pobox

[Repository RemotePobox]
type = IMAP
ssl = yes
realdelete = no
remotehost = imap.googlemail.com
remoteuser = {{ (index (lastpass "Chris (gmail)") 0).username }}
remoteport = 993
folderfilter = lambda foldername: not re.search('(^Personal|Receipts|Travel|Work|All Mail|Important|Spam|Starred|Trash|Drafts|Backup|Priority|Misc|Notes|Scheduled|Later)',foldername)
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
auth_mechanisms = GSSAPI, CRAM-MD5, PLAIN, LOGIN

[Account Umich]
autorefresh = 5
localrepository = LocalUmich
remoterepository = RemoteUmich

[Repository LocalUmich]
type = Maildir
localfolders = ~/Mail/Umich

[Repository RemoteUmich]
type = IMAP
auth_mechanism = XOATUH2
oauth2_client_id = {{ (index (lastpass "cosign") 0).note.oauthClientId }}
oauth2_client_secret = {{ (index (lastpass "cosign") 0).note.oauthClientSecret }}
oauth2_request_url = https://accounts.google.com/o/oauth2/token
oauth2_refresh_token = {{ (index (lastpass "cosign") 0).note.oauthRefreshToken }}
ssl = yes
realdelete = no
remotehost = imap.gmail.com
remoteuser = {{ (index (lastpass "cosign") 0).note.email }}
remoteport = 993
folderfilter = lambda foldername: not re.search('(^Personal|Receipts|Travel|Work|All Mail|Important|Spam|Starred|Trash|Drafts|Backup|Priority|Notes|Scheduled|Later)',foldername)
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
#auth_mechanisms = GSSAPI, CRAM-MD5, PLAIN, LOGIN

[Account Avlug]
autorefresh = 5
localrepository = LocalAvlug
remoterepository = RemoteAvlug

[Repository LocalAvlug]
type = Maildir
localfolders = ~/Mail/Avlug

[Repository RemoteAvlug]
type = IMAP
ssl = yes
remotehost = mail.avlug.org
remoteuser = {{ (index (lastpass "avlug.org") 0).username }}
remoteport = 993
folderfilter = lambda foldername: not re.search('(^INBOX.Trash|INBOX.SPAM|INBOX.Archive)', foldername)

[Account Merit]
autorefresh = 5
localrepository = LocalMerit
remoterepository = RemoteMerit

[Repository LocalMerit]
type = Maildir
localfolders = ~/Mail/Merit

[Repository RemoteMerit]
type = IMAP
auth_mechanism = XOAUTH2
oauth2_client_id = {{ (index (lastpass "Merit AD") 0).note.oauthClientId }}
oauth2_client_secret = {{ (index (lastpass "Merit AD") 0).note.oauthClientSecret }}
oauth2_request_url = https://accounts.google.com/o/oauth2/token
oauth2_refresh_token = {{ (index (lastpass "Merit AD") 0).note.oauthRefreshToken }}
ssl = yes
realdelete = no
remotehost = imap.gmail.com
remoteuser = {{ (index (lastpass "Merit AD") 0).note.email }}
remoteport = 993
folderfilter = lambda foldername: not re.search('(^Personal|Receipts|Travel|Work|All Mail|Important|Spam|Starred|Trash|Drafts|Backup|Priority|Notes|Scheduled|Later)',foldername)
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
#auth_mechanisms = GSSAPI, CRAM-MD5, PLAIN, LOGIN


