# LogLevel VERBOSE

Host *
  ForwardX11 no
  ForwardX11Trusted no
  ServerAliveInterval 300
  TCPKeepAlive yes
  ControlPath ~/.ssh/master-%r@%h:%p

{{- if eq .chezmoi.osRelease.versionID "18.04" }}

Include config.d/*.conf
{{- end }}
