# vim: set ft=perl:
{
  port        => 5000,
  srv_port    => 8080,
  repo        => 'git@bitbucket.org:concertpharmaceuticals/core-www.git',
  working_dir => '/app',
  configs     => {
    base => {
      from => ['tz'],
      # dependencies => ['meilisearch'],
      volumes => [
        qw(
          ~/srv/cfg/core:/cfg
          ~/srv/data/core/development:/data
          ~/srv/tmp/core:/tmp
          )
      ],
      env => ['CORE_CONFIG=/cfg/core.development.conf']
    },
    dev => {
      from => ['base', 'mojo_vue_dev_v3', 'sqitch_dev'],
    },
    test => {
      from => ['mojo', 'base'],
    }
  }
}
