{{- if eq .chezmoi.hostname "klinger" }}
[options]
verbose = 0
read_all = false
delete = false
message_log = ~/.getmail/umich_log

[retriever]
type = SimpleIMAPSSLRetriever
server = imap.gmail.com
port = 993
username = {{ (index (lastpass "cosign") 0).note.email }}
password = {{ (index (lastpass "cosign") 0).password }}
mailboxes = ("[Gmail]/All Mail", "[Gmail]/Sent Mail")

[destination]
type = MDA_external
path = /usr/bin/procmail
arguments = ("-f", "%(sender)", "-m", "~/.procmailrc.d/umich")
{{- end }}
