urls-source        "ttrss"
ttrss-url          "http://192.168.1.1/tt-rss/"
ttrss-login        "{{ (index (lastpass "tt-rss") 0).username }}"
ttrss-password     "{{ (index (lastpass "tt-rss") 0).password }}"
ttrss-mode         "multi"
ttrss-flag-star    "s"
ttrss-flag-publish "p"

browser                   w3m
auto-reload               yes
error-log                 ~/.local/share/newsbeuter/error_log
cache-file                ~/.cache/newsbeuter/cache.db
show-read-feeds           no
show-read-articles        no
reload-time               30
refresh-on-startup        no
reload-only-visible-feeds no
notify-screen             yes
suppress-first-reload     yes
confirm-exit              yes
display-article-progress  yes
keep-articles-days        30
ignore-mode               "download"
bookmark-cmd              ~/scripts/newsbeuter/send2pocket.sh
bookmark-autopilot        yes

#article-sort-order date-desc
#feed-sort-order firsttag

bind-key k up
bind-key j down
bind-key - pageup
bind-key SPACE pagedown
bind-key G reload-all
bind-key C mark-feed-read
# bind-key A mark-all-feeds-read
bind-key , quit
bind-key m macro-prefix

color listfocus white red
color info white blue

datetime-format "%b, %d"
feedlist-format "%4i %2n  %t"
articlelist-format "%4i %f %-100t  [%12a] %D"

define-filter "hide imagery" "tags !~ \"Imagery|Humor|Wallpapers|Jobs\" and unread_count > 0"
macro i set-filter "tags !~ \"Imagery|Humor|Wallpapers|Jobs\" and unread_count > 0"

#ignore-article "*" "feedindex == 5"

#highlight-article "title =~ \"\[rant\]\"" white red bold

color listnormal        white default
color listnormal_unread white default

color listfocus        white red
color listfocus_unread white red

#color info       color136 color235
#color background color244 color234
#color article    color244 color234
